/* This style sheet is for the animated components  */

/* pulse animation for microphone on listening */
.pulse-1{
   animation-delay: -5s;
}
.pulse-2{
  animation-delay: -4.5s;
}
.pulse-3{
  animation-delay: -3.5s;
}
.pulse-4{
  animation-delay: -2.5s;
}
.pulse-5{
  animation-delay: -1.5s;
}
.pulse-6{
  animation-delay: -0.5s;
}
/* page loading animation */
.loader {
  border-radius: 50%;
  background: linear-gradient(to right, #B81E53 10%, #F8E9EE 100%);
  --_m: 
    conic-gradient(#000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
}
@media (min-width:768px) {
  .translate{
  animation: mictranslate 0.2s ease-out forwards ;
}
@keyframes mictranslate {
  0%{
    translate: 90px 310px;
  }

  100%{
    translate : 0 0;
  }
}
}
