@tailwind base;
@tailwind components;
@tailwind utilities;
:root,
*,
.overflow-auto {
  scrollbar-width: thin;
  scrollbar-color: black;
}

.entry-word_synonyms--list,
.entry-word_antonyms--list {
  list-style-image: url("/src/assets/list-img.svg");
}

.tool-tip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 20%;
}

/* Tooltip text */
.tool-tip .tool-tip_text {
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
}

/* Tooltip arrow */
.tool-tip .tool-tip_text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tool-tip.animated{
    opacity: 1;
    visibility: visible;
  animation: fadeInAndOut 2s ease forwards
}
@keyframes fadeInAndOut {
           0% {
                opacity: 0;
                visibility: hidden;
            }
            50% {
                opacity: 1;
                visibility: visible;
            }
            100% {
                opacity: 0;
                visibility: hidden;
            }
        }