@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
*,
.overflow-auto {
  scrollbar-width: thin;
  scrollbar-color: black;
}
.search_suggestions--list,
.entry-word_synonyms--list,
.entry-word_antonyms--list {
  list-style-image: url("/src/assets/list-img.svg");
}
.tool-tip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 30%;
}

/* Tooltip text */
.tool-tip .tool-tip_text {
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 7px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
}

/* Tooltip arrow */
.tool-tip .tool-tip_text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tool-tip.animated {
  opacity: 1;
  visibility: visible;
  animation: fadeInAndOut 2s ease forwards;
}
.active,
.button_nav:active,
.button_nav:focus-visible,
.button_nav:focus {
  outline: none;
  z-index: 20;
}
.active.button_nav svg,
.button_nav:active svg,
.button_nav:focus-visible svg,
.button_nav:focus svg {
  fill: #b81e53;
}
.active.button_nav p,
.button_nav:focus p,
.button_nav:active p,
.button_nav:focus-visible p {
  display: block;
  color: #b81e53;
  font-weight: bold;
  font-size: 11px;
}
.dark-theme.active.button_nav svg,
.dark-theme.button_nav:active svg,
.dark-theme.button_nav:focus-visible svg,
.dark-theme.button_nav:focus svg {
  fill: #f8e9ee;
}
.dark-theme.active.button_nav p,
.dark-theme.button_nav:focus p,
.dark-theme.button_nav:active p,
.dark-theme.button_nav:focus-visible p {
  color: #cf688c;
}
@keyframes fadeInAndOut {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@media (min-width: 768px) {
  .tool-tip {
    top: 5%;
  }
  .active.button_home,
  .button_home:active,
  .button_home:focus-visible,
  .button_home:focus {
    margin-left: 87px;
  }
  .active.button_bookmarks,
  .button_bookmarks:active,
  .button_bookmarks:focus-visible,
  .button_bookmarks:focus {
    margin-left: 130px;
  }
  .active.button_recents,
  .button_recents:active,
  .button_recents:focus-visible,
  .button_recents:focus {
    margin-left: 90px;
  }

  .active.button_nav,
  .button_nav:active,
  .button_nav:focus-visible,
  .button_nav:focus {
    padding: 22px 32px;
    background: white;
    border-radius: 50px;
    box-shadow: 2px 2px 4px 0 #cf688c;
  }
  .active.button_nav p,
  .button_nav:focus p,
  .button_nav:active p,
  .button_nav:focus-visible p {
    font-size: 20px;
  }
  .dark-theme.active.button_nav,
  .dark-theme.button_nav:active,
  .dark-theme.button_nav:focus-visible,
  .dark-theme.button_nav:focus {
    background: #b81e53;
    box-shadow: 2px 2px 4px 0 #ffffff;
  }
  .dark-theme.active.button_nav p,
  .dark-theme.button_nav:focus p,
  .dark-theme.button_nav:active p,
  .dark-theme.button_nav:focus-visible p {
    color: #ffffff;
  }
}
@media (min-width:1280) {
  .active.button_nav,
  .button_nav:active,
  .button_nav:focus-visible,
  .button_nav:focus {
    padding: 22px 30px;
  }
}
@media (min-width: 1536px) {
  .active.button_nav,
  .button_nav:active,
  .button_nav:focus-visible,
  .button_nav:focus {
    padding: 24px 32px;
  }
  .active#button_bookmarks,
  #button_bookmarks:active,
  #button_bookmarks:focus,
  #button_bookmarks:focus-visible {
    margin-left: 140px;
  }
  .active.button_nav p,
  .button_nav:focus p,
  .button_nav:active p,
  .button_nav:focus-visible p {
    font-size: 24px;
  }
}
